<div class="card author-card mb-3">
    <div class="card-body">
        <p class="card-title">
            <a href="{{ path('author_show', {'slug': author.slug}) }}">{{ author.firstName }}, {{ author.lastName }}</a>
        </p>
        <p class="card-text">{{ author.summary }}, {{ author.content | raw }} </p>
        <a href="{{ path('author_edit', {'slug': author.slug}) }}">modifier</a>
    </div>
</div>
