<div class="card author-card mb-3">
    <a href="{{ path('author_show', {'slug': author.slug}) }}">
        {% if author.pictureFileName %}
        <img src="{{ vich_uploader_asset(author, 'pictureFile') | imagine_filter('thumb') }}" alt="" width="100%" heigth="auto">
        {% else %}
        <img src="{{ '/lepenseur-1.jpeg' | imagine_filter('thumb') }}" alt="" width="100%" heigth="auto">
        {% endif %}
        <div class="card-body">
            <p class="card-title">
                {{author.firstName}} {{ author.lastName }}
            </p>
            {# <p class="card-text">{{ author.summary }}, {{ author.content | raw }} </p> #}
            {# <a href="{{ path('author_edit', {'slug': author.slug}) }}">modifier</a> #}
        </div>
    </a>
</div>
