
{{ form_start(form) }}

{{form_row(form.lastName)}}

<div class="row">
    <div class="col-md-6">{{ form_row(form.firstName)}}</div>
    <div class="col-md-3">{{ form_row(form.birthYear)}}</div>
    <div class="col-md-3">{{ form_row(form.deathYear)}}</div>
</div>

{{form_row(form.summary)}}
<div class="row">
    <div class="col-md-2">
        {{form_row(form.pictureFile)}}
    </div>
    <div class="col-md-10">
        {{ form_widget(form) }}
    </div>    
</div>

<button class="btn btn-info mt-2 mb-2">{{ button_label|default('Ajout') }}</button>
{{ form_end(form) }}
