
{{ form_start(form) }}

{{form_row(form.lastName)}}
{{form_row(form.wikipediaLink)}}

<div class="row">
    <div class="col-md-6">{{ form_row(form.firstName)}}</div>
    <div class="col-md-3">{{ form_row(form.birthYear)}}</div>
    <div class="col-md-3">{{ form_row(form.deathYear)}}</div>
</div>

{{form_row(form.summary)}}
{{form_row(form.pictureFile)}}

{# <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8"></div>    
</div> #}

<button class="btn btn-info mt-2 mb-2">{{ button_label|default('Ajout') }}</button>
{{ form_end(form) }}
