{% extends 'base.html.twig' %}

{% block title %}{{ author.lastName }}{% endblock %}

{% block body %}
<div class="container">
    <h1 style="display: inline-block">{{ author.firstName }} {{ author.lastName }}</h1>
    <p style="display: inline">({{ author.birthYear }} / {{ author.deathYear }})</p>
    <p class="my-3" style="font-weight: bold">{{ author.summary }}</p>
    <div class="row">
        <div class="col-md-8 mx-2 p-justify">
            {{ author.content | raw }}
        </div>
        <div class="col-md-3">
            <img src="/images/author/{{ author.pictureFileName }}" alt="" height="300px" style="text-align: center;">
        </div>
    </div>
    
    <h4>Ses oeuvres référencées ...</h4>
    {% for book in author.books %}
    {# <div class="col-md-3">
        <div class="card-body">
            <p class="card-title">
                <a href="{{ path('book_show', { 'slug' : book.slug }) }}">
                    {{ book.title }}
                </a>
            </p>
        </div>
    </div> #}
    <div style="display: inline;">
        {% include 'book/_book.html.twig' %}
    </div>

        
    {# <div><a href="{{ path('book_show', {'slug': book.slug}) }}">{{ book.title }}</a></div> #}
    {% endfor %}
    
    <div style="display: flex;">
        <a  type="button" class="btn btn-info mt-2"href="{{ path('author_index') }}">back to list</a>
        <a  type="button" class="btn btn-info mt-2"href="{{ path('author_edit', {'slug': author.slug}) }}">edit</a>
        {{ include('author/_delete_form.html.twig') }}
    </div>
        
        
</div>
{% endblock %}
