{% extends 'base.html.twig' %}

{% block title %}{{ author.lastName }}{% endblock %}

{% block body %}
<div class="container" style="padding-top: 55px;">
    <h1 style="display: inline-block">{{ author.firstName }} {{ author.lastName }}</h1>
    <p style="display: inline">({{ author.birthYear }} / {{ author.deathYear }})</p>
    <p class="my-3" style="font-weight: bold">{{ author.summary }}</p>
    <div class="row my-5">
        <div class="col-md-3">
            <img src="/images/author/{{ author.pictureFileName }}" alt="" width="100%" style="text-align: center;">
        </div>
        <div class="col-md-8 mx-2 p-justify" style="height: 400px;">
            {% if author.wikipediaLink %}
            <iframe src="{{author.wikipediaLink}}" frameborder="0" style="border:2px solid darkblue;box-shadow: 5px 5px 5px darkblue;" width="100%" height="100%"></iframe>
            {% endif %}
        </div>
    </div>
    
    <h4>Ses oeuvres référencées ...</h4>
    {% for book in author.books %}
    <div style="display: inline;">
        {% include 'book/_book.html.twig' %}
    </div>        
    {% endfor %}
    
    <div style="display: flex;">
        <a  type="button" class="btn btn-primary mx-1 mt-2"href="{{ path('author_index') }}">retour</a>
        {% if is_granted('ROLE_LIBRARIAN')%}
        <a  type="button" class="btn btn-primary mx-1 mt-2"href="{{ path('author_edit', {'slug': author.slug}) }}">modifier</a>
        {{ include('author/_delete_form.html.twig') }}
        {% endif %}
    </div>
        
        
</div>
{% endblock %}
