{% extends 'base.html.twig' %}

{% block title %}Résultat d'une recherche{% endblock %}

{% block body %}
	<div id="searching-result-content">
		<div id="searching-result-rightside">
			{% if openBook is not null %} 
			{% set book = openBook %}
			<div class="container">	
				{% include 'book/_book_content.html.twig' %}
			</div>
			{% endif %}
		</div>
		<div id="searching-result-leftside">
			{% if nbFoundStrings < 1 %}
			<h5>Aucune occurrence de <span class="found-content">{{ string }}</span> n'a été trouvée dans la liste demandée !-/</h5>
			{% else %}
			<h5>{{ nbFoundStrings }} occurrence{% if nbFoundStrings > 1 %}s{% endif %} de : <span class="found-content">{{ string }}</span> dans les ouvrages suivants</h5>
			<dl>
				{% for key, books in matchingAuthors %}
				<div>
				<dt>{{key}}</dt>
					{% for book in books %}
					<dd id="book_{{book.id}}" class="book-row {% if book.id == openBookId %} open-book-row{% endif %}">
						<a href="{{ path('show_selected', {'id': book.id}) }}">
							{{book.title}} ({{book.nbFound}})
						</a>
					</dd>
					{% endfor %}
				</div>
				{% endfor %}
			</dl>
			{# <div>
				<p style="text-align:center; margin:0px;">
					<a href="#"><i class="fa-solid fa-angles-left"></i>livre préc. </a> - <a href="#">livre suiv.<i class="fa-solid fa-angles-right"></i></a> 
				</p>
				<p style="text-align:center; margin:0px;">
					<a href="#"><i class="fa-solid fa-chevron-left"></i>occ. préc. </a> - <a href="#">occ. suiv.<i class="fa-solid fa-chevron-right"></i></a>
				</p>
			</div> #}
			{% endif %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
{% if openBook is not null %}
<script>
	openBookRow = document.getElementById("book_{{ openBook.id }}")
	openBookRow.scrollIntoView();
</script>
{% endif %}
{% if scrollTo is defined %}
<script type="text/javascript">
	paragraph = document.getElementById("{{ scrollTo }}");
	paragraph.scrollIntoView();
</script>
{% endif %}
{% endblock %}
