<div id="frontpage-searchform" style="display:none;" class="my-5">
    <h5 class="mt-3 text-center">Recherche d'un mot ou d'une phrase</h5>
    {{ form_start(form) }}
    {{ form_widget(form.stringToSearch)}}
    {{ form_widget(form.authors)}}
    {{ form_widget(form.books)}}
    <div class="mt-2" style="text-align:center;">
        <button id="search_button" class="btn btn-primary">Rechercher</button>
    </div>
    {{ form_end(form) }}	
</div>
