<div class="mt-1">
    <!-- un peu d'air avant le début du texte -->
</div>
{% for paragraph in book.bookParagraphs %}
    {% if paragraph.paragraphStyles %}
    <p {{ paragraph.paragraphStyles|raw }} id="_{{ paragraph.id }}">
    {% else %}
    <p class="p-justify"  id="_{{ paragraph.id }}">
    {% endif %}
        {% if is_granted('ROLE_ADMIN')%}
        <a href="{{ path('paragraph_edit', {'id': paragraph.id}) }}"><sub>§{{ paragraph.id }}</sub></a>
        {% endif %}
    {{ paragraph.FormattedContent | raw }}
    </p>
{% endfor %}

{% for note in book.bookNotes %}
<p class="p-justify" id="note_{{ note.id }}">
    <sup><a href="#citation_{{ note.citation }}">{{ note.citation }}</a></sup> {{ note.formattedContent | raw }}
</p>
{% endfor %}