<div class="card book-card m-3 p-1">
    {% if book.fpImageFileName %}
    <img src="{{ vich_uploader_asset(book, 'fpImageFile') | imagine_filter('fp_crop')}}" alt="front page" width="100%">
    {% else %}
    <img src="{{ '/couvpardefaut.jpeg' | imagine_filter('fp_crop')}}" alt="default front page" width="100%">
    {% endif %}
    <div class="card-body">
        <div class="card-title" style="text-align: center; font-size: 0.7srem;">
            <a href="{{ path('author_show', { 'slug' : book.author.slug }) }}">{{ book.author.lastName }}</a>
        </div>
        <div class="card-text" style="text-align: center; font-size: 0.9rem;">
            <a href="{{ path('book_show', { 'slug' : book.slug }) }}">{{ book.title }}</a>
        </div>
    </div>
</div>