<div class="card book-card m-2 p-1">
    <a href="{{ path('book_show', { 'slug' : book.slug }) }}" title="{{book.summary}}">
        {% if book.fpImageFileName %}
        <img src="{{ vich_uploader_asset(book, 'fpImageFile') | imagine_filter('fp_crop')}}" alt="front page" width="100%">
        {% else %}
        <img src="{{ '/couvpardefaut.jpeg' | imagine_filter('fp_crop')}}" alt="default front page" width="100%">
        {% endif %}
        <div class="card-body">
            <div class="card-title" style="text-align: center; font-size: 0.7srem;">{{ book.author.lastName }}</div>
            <div class="card-text" style="text-align: center; font-size: 0.9rem;">{{ book.title }}
            {% if date is defined %}
            <p style="font-size:0.75rem">({{ date }})</p>
            {% endif %}
        </div>
        </div>
    </a>
</div>