
{{ form_start(form) }}
<div class="row mt-3">
	<div class="col-md-8 mx-1">
		{{ form_label(form.title, 'Titre')}}
		{{ form_widget(form.title) }}

	</div>
	<div class="col-md-3 mx-1 ml-auto">
		{{ form_label(form.author, 'Auteur.e')}}
		{{ form_widget(form.author) }}
	</div>
</div>
<div class="row mt-3">
	<div class="col-md-8 mx-1">
		{{ form_label(form.odtBookFile, 'Document ODT') }}
		{{ form_widget(form.odtBookFile) }}
	</div>
	<div class="col-md-2 mx-1 ml-auto">
		{{ form_label(form.publishedYear, 'Année/période de publication/rédaction') }}
		{{ form_widget(form.publishedYear) }}
	</div>
</div>

{# <div class="row mt-3">
	<div class="col mx-1">
		{{ form_label(form.summary, 'Résumé') }}
		{{ form_widget(form.summary) }}

	</div>
</div>

<div class="row">
	<div class="col-md-6 mx-1">
		{{ form_row(form.fpImageFile) }}
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-4">
		{% if book.fpImageFileName %}
		<img src="{{ vich_uploader_asset(book, 'fpImageFile') | imagine_filter('fp_thumb') }}" alt="">
		{% else %}
		<img src="/default-image.png" alt="">

		{% endif %}
	</div>
</div> #}

{# {{ form_widget(form) }} #}

<button class="button-new-update btn btn-info ">
	{{ button_label|default('Ajout') }}
</button>

{{ form_end(form) }}
