{% extends 'base.html.twig' %}

{% block title %}Les oeuvres{% endblock %}

{% block body %}
<div class="container mt-3">

    <h1>Les oeuvres référencées</h1>
    
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a type ="button" class="btn btn-info" href="{{ path('book_new') }}">Ajouter une oeuvre</a>
    {% endif %}

    <table class="table mt-3">
        <thead>
            <tr>
                <th></th>
                <th>Titre</th>
				<th>Auteur(e)</th>
                <th>Résumé/Intro</th>
                <th>Publié en</th>
                {# <th>OdtBookName</th>
                <th>OdtBookSize</th>
                <th>UpdatedAt</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>
                    {% if book.fpImageFileName %}
                    <img src="{{ vich_uploader_asset(book, 'fpImageFile') | imagine_filter('fp_minithumb')}}" alt="front page">
                    {% else %}
                    <img src="{{ '/couvpardefaut.jpeg' | imagine_filter('fp_minithumb')}}" alt="default front page"">
                    {% endif %}
                </td>
            
                <td><a href="{{ path('book_show', {'slug': book.slug}) }}">{{ book.title }}</a></td>
				<td>{{ book.author.lastName}}</td>
                <td>{{ book.summary }}</td>
                <td>{{ book.publishedYear }}</td>
                {# <td>{{ book.odtBookName }}</td>
                <td>{{ book.odtBookSize }}</td>
				<td>{{ book.updatedAt ? book.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    {# <a href="{{ path('book_show', {'slug': book.slug}) }}">voir</a> #}
                    <a href="{{ path('book_edit', {'slug': book.slug}) }}">mofidier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">.. Aucune oeuvre référencée, bouh :-(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(books)}}
	</div>



</div>
{% endblock %}
