{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="container">
	<div id="book-display-content">
		<div id="book-display-leftside">
			<h3><a href="{{ path('author_show', {'slug': book.author.slug}) }}">{{ book.author.lastName }}</a></h3>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="{{ path('book_edit', {'slug': book.slug}) }}">modifier l'entrée</a>
			{{ include('book/_delete_form.html.twig') }}
			{% endif %}

		</div>
		<div id="book-display-rightside">
			{% for paragraph in book.bookParagraphs %}
				{% if is_granted('ROLE_ADMIN') %}
				<p class="p-justify" id="_{{ paragraph.id }}">{{ paragraph.id }} - {{ paragraph.content | raw }}</p>
				{% endif %}
				<p class="p-justify" id="_{{ paragraph.id }}">{{ paragraph.content | raw }}</p>
			{% endfor %}
		
			{% for note in book.bookNotes %}
				<p class="p-justify" id="note_{{ note.citation }}"><sup><a href="#citation_{{ note.citation }}">{{ note.citation }}</a></sup>~{{ note.content }}</p>
			{% endfor %}

		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{% if jump_to is defined %}
	<script type="text/javascript">
		paragraph = document.getElementById("_{{ jump_to }}");
		paragraph.scrollIntoView();
	</script>
	{% endif %}
{% endblock %}
