{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="container">
	<div id="book-display-content">
		<div id="book-display-leftside">
			<h3><a href="{{ path('author_show', {'slug': book.author.slug}) }}">{{ book.author.lastName }}</a></h3>
			<p>{{ book.summary }}</p>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="btn btn-info" href="{{ path('book_edit', {'slug': book.slug}) }}">modifier l'entrée</a>
			{{ include('book/_delete_form.html.twig') }}
			{% endif %}

		</div>
		<div id="book-display-rightside">
			{% for paragraph in book.bookParagraphs %}
				{# {% if hlParagraphs is defined %}
					{% if paragraph in hlParagraphs %}
						<p class="p-justify" id="_{{ paragraph.id }}">[hlContent]{{ paragraph.content | raw }}</p>
					{% endif %}
				{% else %}
				<p class="p-justify" id="_{{ paragraph.id }}">{{ paragraph.content | raw }}</p>
				{% endif %} #}
				<p class="p-justify" id="_{{ paragraph.id }}">
					{% if is_granted('ROLE_ADMIN')%}
					<a href="{{ path('paragraph_edit', {'id': paragraph.id}) }}"><sub>_{{ paragraph.id }}</sub></a>
					{% endif %}
					{{ paragraph.content | raw }}
				</p>
			{% endfor %}
		
			{% for note in book.bookNotes %}
				{# {% if hlNotes is defined %}
					{% if paragraph in hlNotes %}
						<p class="p-justify" id="note_{{ note.citation }}"><sup><a href="#citation_{{ note.citation }}">{{ note.citation }}</a>[hlContent]</sup>~{{ note.content | raw }}</p>
						{% endif %}
				{% else %}
				{% endif %} #}
				<p class="p-justify" id="note_{{ note.id }}"><sup><a href="#citation_{{ note.citation }}">{{ note.citation }}</a></sup>~{{ note.content | raw }}</p>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{% if jump2 is defined %}
	<script type="text/javascript">
		paragraph = document.getElementById("{{ jump2 }}");
		paragraph.scrollIntoView();
	</script>
	{% endif %}
{% endblock %}
