{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="container">
	<div id="book-display-content" class="mt-1">
		<div id="book-display-leftside">
			{# {% if book.fpImageFileName %}
			<img src="{{ vich_uploader_asset(book, 'fpImageFile') }}" alt="front page" width="80%" style="text-align: center">
			{% endif %} #}
			<h2>{{ book.title }}</h2>
			<h6><a href="{{ path('author_show', {'slug': book.author.slug}) }}" title="{{book.author.firstName}} {{book.author.lastName}}">{{book.author.lastName}}</a></h6>
			{# <p>{{ book.summary }}</p> #}
			<p><a class="btn btn-outline-dark" style="margin-right: 5px;" href="/books/{{ book.odtBookName }}" title="Télécharger le fichier odt">Télécharger</a></p>
			<div style="display: flex;">
				{% if is_granted('ROLE_LIBRARIAN') %}
					<a class="btn btn-outline-info" title="modifier" href="{{ path('book_edit', {'slug': book.slug}) }}">
						<i class="fas fa-edit"></i></a>
					<a class="btn btn-outline-warning" title="misprint" href="#">
						<i class="fas fa-bolt"></i></a>
					<form method="post"
						action="{{ path('book_delete', {'slug': book.slug}) }}"
						onsubmit="return confirm('Voulez vous vraiment supprimer cette entrée ?');">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
						<button class="btn btn-outline-danger" title="supprimer"><i class="fas fa-trash"></i></button>
					</form>
				{% endif %}
			</div>
			{% if book.bookmarks is not empty %}
			<div style="text-align:end; margin-top: 2rem; margin-right: 5px; font-size: 0.9">Sommaire</div>
			{% for bookmark in book.bookmarks %}
				<a href="#_{{bookmark.paragraph.id}}">
					<div class="bookmark">
					{{bookmark.name}}
					</div>
				</a>
			{% endfor %}
			{% endif %}

		</div>
		<div id="book-display-rightside">
			{% include 'book/_book_content.html.twig' %}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{% if jump2 is defined %}
	<script type="text/javascript">
		paragraph = document.getElementById("{{ jump2 }}");
		paragraph.scrollIntoView();
	</script>
	{% endif %}
{% endblock %}
