{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-4">
			<h1>{{ book.title }}</h1>
			<br>
			<p>{{ book.nbParagraphs }} paragraphes</p>
			<p>Temps d'analyse Xml : {{ book.parsingTime | round(2, 'floor')}} sec ({{ (book.parsingTime / 60)  | round(1, 'floor') }} min)</p>
			<br>
			<h5>écrit par {{ book.author.firstName ~' '~ book.author.lastName }}</h5>
			<p>publié en {{ book.publishedYear }}</p>
			<p>{{ book.summary }}</p>

			<a href="{{ path('front') }}">retour à la bibliothèque</a>
			<a href="{{ path('book_edit', {'slug': book.slug}) }}">modifier</a>

			{{ include('book/_delete_form.html.twig') }}
		</div>
		<div class="col-md-8">
			{% for paragraph in book.bookParagraphs %}
				<p id="_{{ paragraph.id }}">{{ paragraph.content | raw }}</p>
			{% endfor %}
		
			{% for note in book.bookNotes %}
				<p id="note_{{ note.citation }}"><sup><a href="#citation_{{ note.citation }}">{{ note.citation }}</a></sup>~{{ note.content }}</p>
			{% endfor%}
		</div>

	</div>
</div>
{% endblock %}
