{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="container">
	<div id="book-display-content">
		<div id="book-display-leftside">
			{% if book.fpImageFileName %}
			<img src="{{ vich_uploader_asset(book, 'fpImageFile') }}" alt="front page" width="80%" style="text-align: center">
			{% endif %}
		
			<h2>{{ book.title }}</h2>
			<h6><a href="{{ path('author_show', {'slug': book.author.slug}) }}" title="{{book.author.lastName}}">{{book.author.lastName}}</a></h6>
			<p>{{ book.summary }}</p>
			<p></p>
				<div style="display: flex;">
					<a class="btn btn-outline-dark" style="margin-right: 5px;" href="/books/{{ book.odtBookName }}">Télécharger</a>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a class="btn btn-outline-info" title="modify" href="{{ path('book_edit', {'slug': book.slug}) }}">
						<i class="fas fa-edit"></i></a>
					<a class="btn btn-outline-warning" title="misprint" href="#">
						<i class="fas fa-bolt"></i></a>
					<form method="post"
						action="{{ path('book_delete', {'slug': book.slug}) }}"
						onsubmit="return confirm('Voulez vous vraiment supprimer cette entrée ?');">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
						<button class="btn btn-outline-danger" title="supprimer"><i class="fas fa-trash"></i></button>
					</form>
			{% endif %}
				</div>	
				{# {{ include('book/_delete_form.html.twig') }} #}

		</div>
		<div id="book-display-rightside">
			{% for paragraph in book.bookParagraphs %}
				{% if paragraph.paragraphStyles %}
				<p {{ paragraph.paragraphStyles|raw }} id="_{{ paragraph.id }}">
				{% else %}
				<p class="p-justify"  id="_{{ paragraph.id }}">
				{% endif %}
					{% if is_granted('ROLE_ADMIN')%}
					<a href="{{ path('paragraph_edit', {'id': paragraph.id}) }}"><sub>§{{ paragraph.id }}</sub></a>
					{% endif %}
					{{ paragraph.FormattedContent | raw }}
				</p>
			{% endfor %}
		
			{% for note in book.bookNotes %}
				<p class="p-justify" id="note_{{ note.id }}">
					<sup><a href="#citation_{{ note.citation }}">{{ note.citation }}</a></sup> {{ note.formattedContent | raw }}
				</p>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{% if jump2 is defined %}
	<script type="text/javascript">
		paragraph = document.getElementById("{{ jump2 }}");
		paragraph.scrollIntoView();
	</script>
	{% endif %}
{% endblock %}
