{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div id="frontpage-content">
	<div id="frontpage-rightside">
		<p class="text-center mt-5">
			<img src="/handala.png" alt="handala .. when will you turn round ?" title="handala .. quand te retourneras-tu ?">
		</p>
		<h5 class="mt-3 text-center">Recherche d'un mot ou d'une phrase</h5>
		{{ form_start(form) }}
		{{ form_row(form.stringToSearch)}}
		{{ form_row(form.authors)}}
		{{ form_row(form.books)}}

		<button id="search_button" class="btn btn-primary" onclick="showSpinner()">
			Rechercher
		</button>
		{{ form_end(form) }}	
	</div>
	<div id="frontpage-leftside">
		<h2 class="text-center mt-3">Bibliothèque</h2>
		<p class="text-center">({{ nbBooks }} ouvrages)</p>
		{# <div class="row"> #}
			{% for author in authors %}
				{% for book in author.books %}
					{# <div class="col-md-2"> #}
						<div style="display: inline;">
							{% include 'book/_book_2.html.twig' %}
						</div>
					{# </div> #}
				{% endfor %}
			{% endfor %}
		{# </div> #}

	</div>
</div>

{# <div class="row mx-2">
	<div class="col-md-10 px-2">
		<h1 class="text-center mt-3">Bibliothèque</h1>
		<p class="text-center">({{ nbBooks }} ouvrages)</p>
		<div class="row">
			{% for author in authors %}
				{% for book in author.books %}
					<div class="col-md-2">
					{% include 'book/_book.html.twig' %}
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		{# <div class="pagination">
			{{ knp_pagination_render(authors)}}
		</div> #}

	{# </div>
	<div class="col px-2">

		<h3 class="mt-3">Rechercher ...</h3>
		{{ form_start(form) }}
		{{ form_row(form.stringToSearch)}}
		{{ form_row(form.authors)}}
		{{ form_row(form.books)}}

		<button id="search_button" class="btn btn-primary" onclick="showSpinner()">
			Rechercher
		</button>
		{{ form_end(form) }}	
	</div> 
		

</div> #}

{% endblock %}

{% block javascripts %}
<script>
	function showSpinner(){

		el = document.getElementById("search_button");
		el.innerHTML = 'En cours ';
		el.innerHTML += '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';
		el.innerHTML += '<span class="sr-only">Rechercher...</span>';

	}
</script>
{% endblock %}



