{% extends 'base.html.twig' %}

{% block title %}Liste de Recherche !!{% endblock %}

{% block body %}
	<div class="container mt1">
	
		<h3>Recherche de : {{ string }} dans la liste de livres suivante :</h3>
		<p>
		{% for book in bookList %}
			{{book.title}} - {{book.author.lastName}} , 
		{% endfor %}
		</p>
		<hr>
		{# <h3>{{sentences|length}} occurences repérées !!</h3> #}
		{% set book_slug = "" %}
		{% for paragraph in paragraphs %}

		<div class="row">
			<div class="col-md-4">
			{% if paragraph.book.slug != book_slug %}
				{% set book_slug = paragraph.book.slug %}
				<h4>{{ paragraph.book.title }} - {{ paragraph.book.author.lastName}}</h4>
			{% endif %}
			</div>
			<div class="col-md-8">
				<p>{{paragraph.highlightedContent|raw}}</p>
			</div>
		</div>

		{% endfor %}
	</div>
{% endblock %}