{% extends 'base.html.twig' %}

{% block title %}Résultat d'une recherche{% endblock %}

{% block body %}
	<div class="container" style="padding-top: 55px">
		{% include 'partials/_search_form_horiz.html.twig' %}

		<div id="searching-result-content">
			<div id="searching-result-leftside">
				{% if nbFoundStrings > 0 %}
					<h5 class="mb-3">{{ nbFoundStrings }} occurrence{% if nbFoundStrings > 1 %}s{% endif %} de : <span class="found-content">{{ string }}</span> dans les ouvrages suivants</h5>
				{% else %}
					<h5 class="mb-3">Désolé, aucune occurrence de <span class="found-content">{{ string }}</span> n'a été trouvée dans la liste demandée !-/</h5>
				{% endif %}
				{% for book in matchingBookList %}
					<p><a href="#{{book.id}}">{{book.title}} - {{book.author.lastName}}</a></p>
				{% endfor %}
			</div>
			<div id="searching-result-rightside">
				{% for book in matchingBookList %}
				<h3 id="{{ book.id }}">{{ book.title }}</h3><h4>{{ book.author.lastName}}</h4>

					{% for paragraph in paragraphs %}
						{% if paragraph.book.id == book.id %}
						<p class="p-justify">{{paragraph.formattedContent|raw}}</p>
						{% endif %}
					{% endfor %}
					
					{% for note in notes %}
						{% if note.book.id == book.id %}
						<p class="p-justify"><sup><a href="#citation_{{ note.citation }}">{{ note.citation }}</a></sup>~{{note.formattedContent|raw}}</p>
						{% endif %}
					{% endfor %}

				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}