{% extends 'base.html.twig' %}

{% block title %}Résultat d'une recherche{% endblock %}

{% block body %}
	<div class="container">
		<div id="searching-result-content">
			<div id="searching-result-leftside">
				{% if nbFoundStrings > 0 %}
					<h5 class="mb-3">{{ nbFoundStrings }} occurrences de : <span class="found-content">{{ string }}</span> dans les ouvrages suivants</h5>
				{% else %}
					<h5 class="mb-3">Désolé, aucune occurrence de <span class="found-content">{{ string }}</span> n'a été trouvée dans la liste demandée !-/</h5>
				{% endif %}
				{% for book in matchingBookList %}
					<p><a href="#{{book.id}}">{{book.title}} - {{book.author.lastName}}</a></p>
				{% endfor %}
			</div>
			<div id="searching-result-rightside">
				{% set book_slug = "" %}
				{% for paragraph in paragraphs %}
					{% if paragraph.book.slug != book_slug %}
					{% set book_slug = paragraph.book.slug %}
					<h3 id="{{ paragraph.book.id }}">{{ paragraph.book.title }}</h3><h4>{{ paragraph.book.author.lastName}}</h4>
					{% endif %}
					<p class="p-justify">{{paragraph.highlightedContent|raw}}</p>
				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}