{% extends 'base.html.twig' %}

{% block title %}Sélection courante{% endblock %}

{% block body %}

<div id="selected-list-content">
	<div id="selected-list-rightside">
		{% set book = openBook %}
		<div class="container">	
			{% include 'book/_book_content.html.twig' %}
		</div>
	</div>
	<div id="selected-list-leftside">
		<h2>Sélection courante</h2>
		{% for book in books %}
			<a href="{{ path('show_selected', {'id': book.id}) }}">
				<div id="book_{{book.id}}" class="row book-row{% if book == openBook %} open-book-row{% endif %} mt-3 mx-0">
					<div class="col-md-4">
						{{ book.author.lastName }}
					</div>
					<div class="col-md-6">
						{{ book.title }}
					</div>
				</div>
			</a>
		{% else %}
			<div>
				Aucun résultat pour votre sélection !!-(
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

{% block javascripts %}
{% if openBook is not null %}
<script>
	openBookRow = document.getElementById("book_{{ openBook.id }}")
	openBookRow.scrollIntoView();
</script>
{% endif %}
{% if scrollTo is defined %}
<script type="text/javascript">
	paragraph = document.getElementById("{{ scrollTo }}");
	paragraph.scrollIntoView();
</script>
{% endif %}
{% endblock %}



