{% extends 'admin/base.html.twig' %}

{% block title %}Administration des ouvrages{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="mt-5">Administration des ouvrages</h1>
        <a class="btn btn-info mb-3" href="{{ path('book_new') }}">Ajouter une oeuvre</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a class="anchor-no-decoration" href="{{path('admin_book_index',{sortBy: 'Id'})}}">Id</a></th>
                    <th><a class="anchor-no-decoration" href="{{path('admin_book_index',{sortBy: 'Title'})}}">Titre</a></th>
                    <th><a class="anchor-no-decoration" href="{{path('admin_book_index',{sortBy: 'Author'})}}">Auteur.e</a></th>
                    <th>odtBookName</th>
                    <th class="text-center"><a class="anchor-no-decoration" href="{{path('admin_book_index',{sortBy: 'ParsingTime'})}}">parsingTime(sec)</a></th>
                    <th class="text-center"><a class="anchor-no-decoration" href="{{path('admin_book_index',{sortBy: 'NbParagraphs'})}}">nbParagraphs</a></th>
                    {# <th class="text-center">nbSentences</th> #}
                    {# <th class="text-center">nbWords</th> #}
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td><a class="anchor-no-decoration" href="{{path('book_show',{slug: book.slug})}}">{{book.title}}</a></td>
                    <td>{{book.author.lastName}}</td>
                    <td><a href="/books/{{book.odtBookName}}">{{book.odtBookName}}</a></td>
                    <td class="text-center">
                        {% if (book.parsingTime == 0) %}
                        <span class="badge badge-danger">
                        {% else %}
                        <span class="badge badge-info">
                        {% endif %}    
                            {{(book.parsingTime)  | round(3, 'floor')}}</span>
                    </td>
                    {# <td class="text-center"><span class="badge badge-info">{{(book.parsingTime / 60)  | round(1, 'floor')}}</span></td> #}
                    <td class="text-center"><span class="badge badge-primary rounded">{{book.nbParagraphs}}</span></td>
                    {# <td class="text-center"><span class="badge badge-primary rounded">{{book.nbSentences}}</span></td> #}
                    {# <td class="text-center"><span class="badge badge-primary rounded">{{book.nbWords}}</span></td> #}
                    <td>
                        <a href="{{ path('book_edit', {'slug': book.slug})}}" class="btn btn-primary"><i class="fas fa-edit" style="width: 15px; font-size:15px"></i></a>
                        <form method="post" action="{{ path('admin_book_delete', {'slug': book.slug}) }}" onsubmit="return confirm('Êtes-vous certain.e de vouloir supprimer cet ouvrage ?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
                            <button class="btn btn-danger"><i class="fas fa-trash" style="width: 15px; font-size:15px"></i></button>
                        </form>
                        
                        {# <a href="{{ path('book_delete', {'slug': book.slug}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a> #}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>  
{% endblock %}

